@page
@model Clinic_WebApp.Pages.DeleteReferral

@{
    ViewData["Title"] = "Удаление направления";
}

<div class="main">
    <div class="div-form-confirm-to-archive">
        <form class="confirm-to-archive-form" asp-page="/DeleteReferral" asp-route-id="@Model.id">
            <legend class="confirm-to-archive-form-legend">Подтвердите действие</legend>
            <p style="margin-top: 7%;">Вы уверены что хотите удалить направление?</p>
            <input class="confirm-to-archive-form-btn" type="submit" value="Да">
            <a class="cancel-to-archive-form-btn" asp-page="/MedicalCard" asp-route-id="@Model.refToPatient">Нет</a>
        </form>
    </div>
</div>
